<div class="footer w-full space-x-2 text-white flex items-center justify-center bg-gray-800 h-12 fixed bottom-0 left-0">
  <div class="block">&copy; 2020 Me, all rights reserved!</div>
  <a class="twitter-icon" href="http://twitter.com">
    <FaIcon @icon="twitter-square" @prefix="fab" @size="2x"/>
  </a>
  <a class="linkedin-icon" href="http://linkedin.com">
    <FaIcon @icon="linkedin" @prefix="fab" @size="2x"/>
  </a>
  <a class="github-icon" href="http://github.com">
    <FaIcon @icon="github-square" @prefix="fab" @size="2x"/>
  </a>
  <a class="facebook-icon" href="http://facebook.com">
    <FaIcon @icon="facebook-square" @prefix="fab" @size="2x"/>
  </a>
</div>