<div class="card library-item">
        <div class="card-header">
          <h3 class="card-title">{{@item.name}}</h3>

        </div>
        <div class="card-body">
          <p>Adress: {{@item.address}}</p>
          <p>Phone: {{@item.phone}}</p>
        </div>
        <div class="card-footer bg-transparent text-right">
          {{yield}}
        </div>
      </div>