<div class="flex  bg-gray-50 px-4 shadow-md ">
    {{#if @library.books.length}}
      <LinkTo 
        @route="has"
        @model={{@library}}
        class="px-4 py-2 my-2 text-white rounded bg-green-600 hover:bg-green-400"
        type="button">
        Books
      </LinkTo>
    {{/if}}

    <LinkTo 
      @route="edit"
      @model={{@library}}
      class="px-4 py-2 my-2 ml-4 text-white rounded bg-blue-600 hover:bg-blue-400"
      type="button">
      Edit Library
    </LinkTo>

    <button class="ml-auto px-4 py-2 my-2 text-white rounded bg-red-600 hover:bg-red-400"
      {{on 'click' (fn @destroyRecord @library)}}
      type="button">
      Delete
    </button>
  </div>
