<div class="flex flex-col shadow-md flex-1">
  <div class="flex w-full space-x-4 p-2">
    <span class="text-gray-400 text-sm">Adress</span>
    <span>{{@info.address}}</span>
  </div>
  <div class="flex w-full space-x-4 p-2">
    <span class="text-gray-400 text-sm">Phone</span>
    <span>{{@info.phoneNumber}}</span>
  </div>
  <div class="flex w-full space-x-4 p-2">
    <span class="text-gray-400 text-sm">Additional info</span>
    <span>{{@info.additional}}</span>
  </div>
</div>