{{#if @model}}
<div class="my-8">
  <table class="min-w-full table-auto">
    <thead class="justify-between">
      <tr class="bg-gray-800">
        <th class="px-16 py-2">
          <span class="text-gray-300">ID</span>
        </th>
        <th class="px-16 py-2">
          <span class="text-gray-300">Email</span>
        </th>
        <th class="px-4 py-2">
          <span class="text-gray-300"></span>
        </th>
      </tr>
    </thead>

    <tbody class="bg-gray-200">

      {{#each @model as |invitation|}}
        <tr class="bg-white border-4 text-center border-gray-200">
          <td>
            {{invitation.id}}
          </td>
          <td>
            {{invitation.email}}
          </td>
          <td>
            <button
              type="button"
              class="bg-red-600 text-white px-6 py-2 my-2 rounded outline-none hover:bg-red-400"
              {{on 'click' (fn this.removeInvitation invitation)}}
              >Remove</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{else}}

  <div class="bg-red-300 border-red-800 text-red-800 border-t-4 rounded  px-4 py-3 shadow-md my-2" role="alert">
    <div class="flex align-items justify-center">
      <div class="font-bold block text-center">No records in database</div>
    </div>
  </div>

{{/if}}