{{#if @model}}

  <Table @header={{array "Purchase detail" "User detail"}}>
    {{#each @model as |invoice|}}
      <tr class="bg-white border-4 text-center border-gray-200">
          <td>
              {{{formatter invoice.items}}}
          </td>
          <td>
              {{{formatter invoice.userInfo}}}
          </td>
      </tr>
    {{/each}}
  </Table>
  
{{else}}

  <Alert @color="red">No records in database</Alert>

{{/if}}