<div class="bg-white rounded-b-lg w-full h-12 shadow-lg">
  <div class="flex items-center pl-4 leading-8 h-12 space-x-2">
    <LinkTo
      @route="show"
      class="subnav block px-4 rounded hover:bg-gray-800 hover:text-white"
    > 
      Show all
    </LinkTo>

    <LinkTo
      @route="new"
      class="subnav block px-4 rounded hover:bg-gray-800 hover:text-white"
    >
      Add new
    </LinkTo>
  </div>
</div>
{{outlet}}