<Table @header={{array "Title" "ISDN"}}>
  {{#each @model.books as |book|}}
    <tr class="bg-white border-4 text-center border-gray-200">
      <td>{{book.name}}</td>
      <td>{{book.ISDN}}</td>
    </tr>
  {{/each}}
</Table>
