<h2 class="h2 my-3">Invitations</h2>

{{#if @model}}

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>E-mail</th>
        <th>Delete invitation</th>
      </tr>
    </thead>
    <tbody>

      {{#each @model as |invitation|}}
        <tr>
          <th>{{invitation.id}}</th>
          <th>{{invitation.email}}</th>
          <th>
            <button
              type="button"
              class="btn btn-danger"
              {{on 'click' (fn this.removeInvitation invitation)}}
              
              >Delete </button>
          </th>
        </tr>
      {{/each}}

    </tbody>
  </table>

{{else}}
  <div class="alert alert-danger" role="alert">
    No invitations sent.
  </div>
{{/if}}