<div class="bg-{{@color}}-300 border-{{@color}}-800 text-{{@color}}-800 border-t-4 rounded  px-4 py-3 shadow-md my-2" role="alert">
  <div class="flex align-items justify-center">
    <div class="font-bold block text-center">{{yield}}</div>
  </div>
</div>