<h2 class="h2 my-3">List</h2>

{{#if @model}}

  <div class="card-columns">
    {{#each @model as |library|}}
      <LibraryItem 
        @item={{library}} 
      > 
          <LinkTo 
            @route="libraries.edit"
            @model={{library}}
            class="btn btn-success btn-xs">
            Edit
          </LinkTo>
          <button 
            type="button"
            class="btn btn-danger btn-xs"
            {{on 'click' (fn this.deleteLibrary library)}}
            >
            Delete
          </button>
      </LibraryItem>

    {{/each}}
  </div>

{{else}}

  <div class="alert alert-danger" role="alert">
    No libraries added. Please add a library.
  </div>

{{/if}}