<h1>Authors</h1>

{{#if @model}}
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Books</th>
    </tr>
  </thead>
  <tbody>
    {{#each @model as |author|}}
      <tr>
        <th>{{@model.name}}</th>
        <th>
            <ul>
              {{#each @model.book as |book|}}
                <li>{{book.name}}</li>
              {{else}}
                <li>This author has no books</li>
              {{/each}}
            </ul>
        </th>
      </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
  <div class="alert alert-danger">No authors in the database</div>
{{/if}}