<h1 class="h1 my-3">Libraries</h1>
<hr>
<div class="well">
  <ul class="nav nav-pills">
      <LinkTo @route="libraries.index" class="nav-link">List All</LinkTo>
      <LinkTo @route="libraries.new" class="nav-link">Add new</LinkTo>
  </ul>
</div>
<hr>

{{outlet}}